{
  "log": {
    "_recordingName": "getFuturesCandles",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "125caeeacab5d1a27a8752143e8d0383",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "pair",
              "value": "B-BTC_USDT"
            },
            {
              "name": "interval",
              "value": "1m"
            },
            {
              "name": "limit",
              "value": "10"
            }
          ],
          "url": "https://public.coindcx.com/market_data/candles?pair=B-BTC_USDT&interval=1m&limit=10"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 384,
            "text": "[\"G9cDAES1JSJ++GX5EmcV0apwjPm/twRDvQ5K827Qv+N5WYJZ1qgXbdGyzZYO08BDzvQS0oZgfpZrXd9L9vX0dz0+nT+sk9qlgeZYV9eXV3URx7p7/DyheR7rxwjopF/Mf10nG0bvY71dp5/VZV5Fkvw/MEoZSL6ol0BlhE+WXUGMSMlPVXFhXKDUyEC2DGtoYiw/WmVB2RX3zEY6YrgwtocqMG0ZYBvlvd3QDDYdWURAbLdh6Cy5SiFyOFRvhCNadczI4IaxnM34pH6Z3BbAYl9kBek4iYQZao7yvfNdvKy5d1pGrKE3ZTlQtSLq2PiWwxpjDIYX2Zmde1H90DZqS/6wR0Gdc1hZStzQyjBBS85QvocRW8lY7STJ/zM=\"]"
          },
            {
              "domain": "coindcx.com",
              "httpOnly": true,
              "name": "_cfuvid",
              "path": "/",
              "sameSite": "None",
              "secure": true,
              "value": "Sh56kOIKLooQs83nhrE_.vyputqqoXXPiQ5wvSvAjmc-1787237710.7055025-1.0.1.1-czEdsKw1yBbxebU2cXRAmxz_IIw3NNpt0KmPTX08g.U"
            }
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "ratelimit-policy",
              "value": "5000;w=60"
            },
            {
              "name": "ratelimit",
              "value": "limit=5000, remaining=3536, reset=40"
            },
            {
              "name": "etag",
              "value": "W/\"3d8-VjGcP+fRzh9a8XqIHU1FrfyZB+8\""
            },
            {
              "name": "speculation-rules",
              "value": "\"/cdn-cgi/speculation\""
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 95,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
