{
  "log": {
    "_recordingName": "getFuturesOrderBook",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "603ae3fd72e54ba5299d62271704fb8a",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "pair",
              "value": "B-BTC_USDT"
            },
            {
              "name": "depth",
              "value": "20"
            }
          ],
          "url": "https://public.coindcx.com/market_data/orderbook?pair=B-BTC_USDT&depth=20"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 355,
            "text": "[\"G1wDAMT050/56qW5fq99zkEwBDlJdnQTpEFf9tokSyyDuanLEl20FmbFmEl6rZNXf2lm5H/Zlc/lGIcepAGWl7zu3y3nLzTGyBEojEG5hMZEVJ4Yjz/RCpMjpuuEX8f/74FkL+KpJUJFzT478EFpmFnWl15k7QyrDoj+WNMbxZruJi5X3Q==\",\"MVG07lYZn1hYb6lCcFntE6ZpcpUwSKigtZTnkvf3MyUi86h6bqUXVcXA7hFV47S59Uu6HuMNPbQRqadG4FQ0RBpkR1rvENqr4HvYK+G8qvQWmvyvbQeuKggN8qVzHHnugQd9C5u4rm8HeLlEz65sCM6128/sXhXzedrNR88D\"]"
          },
            {
              "domain": "coindcx.com",
              "httpOnly": true,
              "name": "_cfuvid",
              "path": "/",
              "sameSite": "None",
              "secure": true,
              "value": "oJRofySLYNZMZUjQaHTJDPU1ZJzIwYJHi8Jfp9btyok-1787237710.7820497-1.0.1.1-tnxVT6LqbRSdzQTsjbRMz0ieg9xVq7LL7ZIIy.oDVM4"
            }
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "ratelimit-policy",
              "value": "5000;w=60"
            },
            {
              "name": "ratelimit",
              "value": "limit=5000, remaining=4998, reset=37"
            },
            {
              "name": "etag",
              "value": "W/\"35d-iabGe9ix6b1mRfmIcJRe9GksAf0\""
            },
            {
              "name": "speculation-rules",
              "value": "\"/cdn-cgi/speculation\""
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 76,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
