{
  "log": {
    "_recordingName": "getSpotOrderBook",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "603ae3fd72e54ba5299d62271704fb8a",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "pair",
              "value": "B-BTC_USDT"
            },
            {
              "name": "depth",
              "value": "20"
            }
          ],
          "url": "https://public.coindcx.com/market_data/orderbook?pair=B-BTC_USDT&depth=20"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 352,
            "text": "[\"G1wDAMT050/56qW5fq99zkEwBDlJdnQTpEFf9tokSyyDuanLEl20FmbFmEl6rZNXf2lm5H/Zlc/lGIcepAGWl7zu3y3nLzTGyBEojEG5hMZEVJ4Yjz/RCpMjpuuEX8f/74FkL+KpJUJFzT478EFpmFnWl15k7QyrDoj+WNMbxZruJi5X3TFRtO5WGZ9YWG+pQnBZ7ROmaXKVMEiooLWU55L39zMlIvOoem6lF1XFwO4RVeO0ufVLuh7jDT20EamnRuBUNEQaZEda7xDaq+B72CvhvKr0Fpr8r20HrioIDfKlcxx57oEHfQubuK5vB3i5RM+ubAjOtdvP7F4V83nazUfPAw==\"]"
          },
            {
              "domain": "coindcx.com",
              "httpOnly": true,
              "name": "_cfuvid",
              "path": "/",
              "sameSite": "None",
              "secure": true,
              "value": "4i4ar9m6x8jOY_RFK7YpU_.jedlPN0jH6UiBnqocw2I-1787237711.213369-1.0.1.1-D5DnozucFU.0Mun3tFuakVt0aoZZRhiLPsRx.gEMQvk"
            }
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "ratelimit-policy",
              "value": "5000;w=60"
            },
            {
              "name": "ratelimit",
              "value": "limit=5000, remaining=4998, reset=37"
            },
            {
              "name": "etag",
              "value": "W/\"35d-iabGe9ix6b1mRfmIcJRe9GksAf0\""
            },
            {
              "name": "speculation-rules",
              "value": "\"/cdn-cgi/speculation\""
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 25,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
