{
  "log": {
    "_recordingName": "getSpotOrderBook",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "603ae3fd72e54ba5299d62271704fb8a",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "pair",
              "value": "B-BTC_USDT"
            },
            {
              "name": "depth",
              "value": "20"
            }
          ],
          "url": "https://public.coindcx.com/market_data/orderbook?pair=B-BTC_USDT&depth=20"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 376,
            "text": "[\"G2YDAMT050/56qXp9X/POQiGICfJ/v5UoIxt0ZCOiREOePIpa3UuLffuYce04gLpFbxEdUstJlOnLsqBX/WXXfmjHMyOxzrKkJe87t8t5y/jbiZHXNnDlMv7y+WIqUXZnomp4ZPMOnlQsIkcLaA5dwersLW141EZGKJyA9a1ghzBD/T5Gpj+1lKAW22jCYasqURX33MN3sjdW0kAsGzFQ5VPYD+lRNe+ShjIdLNKnkve38+YcrBXEzd2Hh2Q+X4K9QlOwO/qnSFNa4RIWXtl3HiivfGFbLYrkIqcgavLs2Vvew2JbU2zAe/BKeDdaJIiyOXpVHUTvwZb2bffyvkjsX4r00IF5K1aD9UVYH8u12kBAisbeR4=\"]"
          },
            {
              "domain": "coindcx.com",
              "httpOnly": true,
              "name": "_cfuvid",
              "path": "/",
              "sameSite": "None",
              "secure": true,
              "value": "nJmY7DUU6GMDe0Ri1N_NDqxu69ZF4oMYsT.m1qgM4fk-1787238216.1315675-1.0.1.1-e46trmPudYKUQ1nfKHHDH7LrTKcoWT3mSG5tMufBHRQ"
            }
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "ratelimit-policy",
              "value": "5000;w=60"
            },
            {
              "name": "ratelimit",
              "value": "limit=5000, remaining=4998, reset=38"
            },
            {
              "name": "etag",
              "value": "W/\"367-De79ADqdJu7oRQAWp2k0JYxYWGM\""
            },
            {
              "name": "speculation-rules",
              "value": "\"/cdn-cgi/speculation\""
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 21,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
